/*/ Prefix /*/
/**************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/***************************************/
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes topCross {
  100% {
    transform: translateY(0.7rem) rotateZ(40deg);
  }
}
@keyframes topCross {
  100% {
    transform: translateY(0.7rem) rotateZ(40deg);
  }
}
@-webkit-keyframes topCrossShow {
  0% {
    transform: translateY(0.7rem) rotateZ(40deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
@keyframes topCrossShow {
  0% {
    transform: translateY(0.7rem) rotateZ(40deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
@-webkit-keyframes bottomCross {
  100% {
    transform: translateY(-0.75rem) rotateZ(-40deg);
  }
}
@keyframes bottomCross {
  100% {
    transform: translateY(-0.75rem) rotateZ(-40deg);
  }
}
@-webkit-keyframes bottomCrossShow {
  0% {
    transform: translateY(-0.75rem) rotateZ(-40deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
@keyframes bottomCrossShow {
  0% {
    transform: translateY(-0.75rem) rotateZ(-40deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
/***************************************/
/**************************************************************************/
/*/ Index /*/
/**************************************************************************/
/******************************************************************/
.background-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  display: inline-block;
  z-index: -1;
}
.background-image img {
  width: 100%;
  height: 100vh;
  filter: blur(5px);
}
.background-image::after {
  content: "";
  background: #154295;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}

/******************************************************************/
/******************************************************************/
header {
  height: 4rem;
  background: #154295;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 5px 10px #000;
  z-index: 10;
}
header a {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header a::after {
  content: "";
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0.2rem solid #fff;
  transition: 0.4s ease-in-out;
}
header a:hover::after {
  width: 100%;
}
header .active::after {
  width: 100%;
}
header .ham {
  display: none;
  cursor: pointer;
  z-index: 10;
}
header .ham span {
  display: block;
  height: 0.2rem;
  width: 2rem;
  background: #fff;
  margin: 0.5rem 0;
  border-radius: 10px;
}
header .active .number1 {
  -webkit-animation: 1s topCross ease-in-out forwards;
          animation: 1s topCross ease-in-out forwards;
}
header .active .number2 {
  -webkit-animation: 1s hide ease-in-out forwards;
          animation: 1s hide ease-in-out forwards;
}
header .active .number3 {
  -webkit-animation: 1s bottomCross ease-in-out forwards;
          animation: 1s bottomCross ease-in-out forwards;
}
header .normal .number1 {
  -webkit-animation: 1s topCrossShow ease-in-out forwards;
          animation: 1s topCrossShow ease-in-out forwards;
}
header .normal .number2 {
  -webkit-animation: 1s show ease-in-out forwards;
          animation: 1s show ease-in-out forwards;
}
header .normal .number3 {
  -webkit-animation: 1s bottomCrossShow ease-in-out forwards;
          animation: 1s bottomCrossShow ease-in-out forwards;
}

/*****************************************************************/
/*****************************************************************/
#offcanvas {
  height: 100vh;
  width: 100%;
  padding: 0 0 0;
  background: #707070;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(110%);
  transition: 1s ease-in-out;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.6666666667);
}
#offcanvas a {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  color: #f5f5f5;
  margin: 0.5rem 0;
}

.offcanvas-transformed {
  transform: translateX(0) !important;
}

/*****************************************************************/
/*****************************************************************/
.content {
  width: 75%;
  margin: 0 auto;
  background: rgba(42, 42, 42, 0.7);
  padding: 0 5%;
  overflow: hidden;
}
.content .title-image img {
  width: 100%;
}
.content .select-language h2 {
  text-align: center;
  font-size: 2em;
}
.content .select-language .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}
.content .select-language .buttons button {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.content .select-language .buttons button img {
  width: 100%;
  height: 100%;
}
.content .select-language .buttons button:hover {
  border: 0.15rem solid #f5f5f5;
  box-shadow: 1px 1px 10px #c4c4c4;
}
.content .select-language .buttons .active {
  border: 0.15rem solid #f5f5f5;
  box-shadow: 1px 1px 10px #c4c4c4;
}
.content h1.title {
  font-size: 2.75em;
  text-align: center;
}
.content h2.title {
  font-size: 2.5em;
  text-align: center;
}
.content .article {
  margin: 2rem 0;
}
.content .article .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .article .title svg {
  height: 4rem;
  width: 4rem;
  margin: 0 1rem 0 0;
}
.content .article .title img {
  height: 6rem;
  width: 6rem;
  margin: 0 1rem 0 0;
}
.content .article .title h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
.content .article p {
  font-size: 1.5em;
  margin: 0.75rem 0 0;
}
.content .article .video {
  width: 48rem;
  height: 27rem;
}
.content .article iframe {
  margin: 1rem 0 0;
}
.content .article table tr td {
  font-size: 1.5em;
  padding: 0.25rem 0;
}
.content .article table tr td:nth-child(2) {
  padding: 0.25rem 0 0.25rem 2rem;
}
.content .article h3 {
  font-size: 1.5em;
  margin: 1rem 0;
}
.content .article .gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
.content .article .gallery img {
  flex: 0 1 15%;
  width: 15%;
  margin: 0 1% 1% 0;
  cursor: zoom-in;
}
.content .article .pictureShow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(21, 66, 149, 0.6);
  overflow: hidden;
}
.content .article .pictureShow .image {
  width: 50%;
  position: relative;
  border: 0.2rem solid #fff;
  border-radius: 10px;
  box-shadow: 20px 27px 57px -18px rgba(0, 0, 0, 0.75);
}
.content .article .pictureShow .image img {
  width: 100%;
  border-radius: 10px;
}
.content .article .pictureShow .image #removePicButton {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: none;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 3;
}
.content .article .pictureShow .image #removePicButton svg {
  background: #154295;
  border-radius: 50%;
}
.content .article .pictureShow .image #moveLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
.content .article .pictureShow .image #moveLeft svg {
  height: 5rem;
  width: 5rem;
}
.content .article .pictureShow .image #moveLeft:hover {
  background: rgba(0, 0, 0, 0.2);
}
.content .article .pictureShow .image #moveRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
.content .article .pictureShow .image #moveRight svg {
  height: 5rem;
  width: 5rem;
}
.content .article .pictureShow .image #moveRight:hover {
  background: rgba(0, 0, 0, 0.2);
}
.content .article .pricing-table {
  width: 100%;
  margin: 0 0 1rem 0;
}
.content .article .pricing-table thead th {
  font-size: 2em;
  width: 30%;
  text-align: center;
  text-transform: uppercase;
}
.content .article .pricing-table thead th:nth-child(1) {
  width: 40%;
  text-align: start;
}
.content .article .pricing-table tbody th {
  text-align: start;
  font-size: 1.75em;
  padding: 1rem 0 0;
}
.content .article .pricing-table tbody td {
  text-align: center;
}
.content .article .pricing-table tbody td:nth-child(1) {
  text-align: start;
}
.content .article .facebook {
  width: 100%;
  height: 20rem;
}
.content .pricing h3 {
  margin: 0.25rem;
}
.content .pricing img {
  height: 6rem;
}
.content .contacts h3 {
  font-size: 1.5em;
}
.content .contacts .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  margin: 1rem 0;
}
.content .contacts .row div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .contacts .row svg {
  margin: 0 10px 0 0;
}
.content .contacts .row:nth-child(2) {
  margin: 1.5rem 0 1rem;
}
.content .contacts .row:nth-child(3) {
  margin: 1rem 0 2rem;
}

/*****************************************************************/
/**************************************************************************/
.info-bar {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background: #707070;
  padding: 0.5rem 0.25rem;
}
.info-bar span {
  font-family: "Work Sans", sans-serif;
}

/**************************************************************************/
/**************************************************************************/
/*/ Tablet setup /*/
/**************************************************************************/
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 1rem;
  }
  header a {
    font-size: 0.8em;
  }

  .content .article .video {
    width: 24rem;
    height: 13.5rem;
  }
  .content .article .gallery img {
    width: 22%;
    flex: 0 0 22%;
    margin: 1.5%;
  }
  .content .article .pricing-table thead th {
    font-size: 1.25em;
  }
  .content .article .pricing-table tbody tr th {
    font-size: 1.1em;
  }
  .content .article .pricing-table tbody tr td {
    font-size: 1em;
  }
  .content .article .pricing-table tbody tr td .time {
    display: none;
  }
  .content .article .pricing-table tbody tr td:nth-child(2) {
    padding: 0;
  }
  .content .article .contacts h3 {
    font-size: 1.25em;
  }
  .content .article .contacts .row span {
    font-size: 0.75em;
  }
  .content .pricing h3 {
    font-size: 1em;
  }
  .content .pricing img {
    height: 4rem;
  }

  .info-bar span {
    font-size: 0.6em;
  }
}
/**************************************************************************/
/*/ Mobile setup /*/
/**************************************************************************/
@media only screen and (max-width: 610px) {
  header {
    width: 100%;
    justify-content: flex-end;
  }
  header a {
    display: none;
  }
  header .ham {
    display: block;
  }

  .content {
    width: 100%;
  }
  .content .select-language h2 {
    font-size: 1.5em;
  }
  .content .select-language .buttons {
    margin: 1rem 0;
  }
  .content h1.title {
    font-size: 1.45em;
  }
  .content h2.title {
    font-size: 1.2em;
  }
  .content .article .title h2 {
    font-size: 1.5em;
  }
  .content .article .title svg {
    height: 3rem;
    width: 3rem;
  }
  .content .article p {
    font-size: 1.25em;
  }
  .content .article .timetable tr {
    display: flex;
    flex-flow: column wrap;
  }
  .content .article .timetable tr td {
    font-size: 1.25em;
  }
  .content .article .timetable tr td:nth-child(2) {
    padding: 0;
  }
  .content .article .video {
    width: 16rem;
    height: 9rem;
  }
  .content .article .gallery img {
    width: 30%;
    flex: 0 0 30%;
    margin: 1.5%;
  }
  .content .article .pictureShow .image {
    width: 90%;
  }
  .content .article .pricing-table thead th {
    font-size: 0.9em;
  }
  .content .article .pricing-table tbody tr th {
    font-size: 1em;
  }
  .content .article .pricing-table tbody tr td {
    font-size: 0.8em;
  }
  .content .article .pricing-table tbody tr td .time {
    display: none;
  }
  .content .article .pricing-table tbody tr td:nth-child(2) {
    padding: 0;
  }
  .content .article .facebook {
    width: 100%;
  }
  .content .article .contacts .row {
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 0;
  }
  .content .article .contacts .row div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem 0;
  }
  .content .article .contacts .row div span {
    font-size: 0.65em;
  }
  .content .article .contacts .row div svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem 0 0 !important;
  }
  .content .article .contacts h3 {
    font-size: 1em;
  }
  .content .pricing h3 {
    font-size: 0.8em;
  }
  .content .pricing img {
    height: 3rem;
  }

  .info-bar {
    width: 100%;
  }
  .info-bar span {
    margin: 0.25rem 0;
    text-align: center;
  }
}
/**************************************************************************//*# sourceMappingURL=style.css.map */