// Tablet setup
/*******************************************************************/
@media only screen and (max-width: 1100px) {
    header {
        height: auto;
        display: grid;
        grid-template: 50% 50% / 25% 25% 25% 25%;
    
        a {
            font-size: 0.7em;
        }
    }
}
/*******************************************************************/

// Mobile setup
/*******************************************************************/
@media only screen and (max-width: 610px) {
    header {
        display: flex;
        height: 4rem;
    }
}
/*******************************************************************/